@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --text-color: hsl(209, 50%, 5%);
    --body-bgc: hsl(212, 10%, 99%);
    --primary-bgc: hsl(212, 0%, 89%);
    --secondary-bgc: hsl(212, 0%, 80%);
}

body {
    background-color: var(--body-bgc);
    color: var(--text-color);
    min-height: 100vh;
    display: grid;
    gap: 3rem;
    padding: 4rem;
    padding-bottom: 5rem;
    font-size: 13px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 img {
    height: 30px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    margin-bottom: 1.5%;
}

.info {
    color: gray;
}

.cv-results {
    display: grid;
    gap: 3.5rem;
}

section {
    display: grid;
    gap: 2rem;
}

#otimizacao {
    display: grid;
    gap: 1rem;
}

#otimizacao .area {
    background-color: var(--primary-bgc);
    padding: 1.2rem;
    border-radius: 0 5px 5px 0;
    border-left: 0.5rem solid var(--secondary-bgc);
}

.area {
    display: grid;
    gap: 1rem;
}

.area-header {
    font-size: 1.2em;
    font-weight: bold;
}

.field {
    display: grid;
    gap: 0.5rem;
}

.label {
    font-weight: bold;
    font-size: 1em;
    color: #5c5c5c;
}

#gaps {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2rem;
}

#gaps .areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#gaps .area-header {
    color: hsl(5, 80%, 35%);
}

#recomendacoes ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

#recomendacoes ul li {
    border: 1px solid #bbbbbb;
    list-style: none;
    padding: 0.7rem;
    border-radius: 3px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
