@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --text-color: hsl(210, 58%, 5%);
    --body-bgc: hsl(212, 10%, 99%);
    --border: hsl(0, 0%, 71%);
    --area-header: hsl(212, 10%, 30%);
    --label-color: hsl(212, 10%, 50%);
    --gaps-color: hsl(0, 48%, 60%);
    --highlight-color: hsl(212, 53%, 31%);
}

body {
    background-color: var(--body-bgc);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 5rem;
    font-size: 13px;
    scroll-behavior: smooth;
}

.container {
    width: 75vw;
    display: grid;
    gap: 3rem;
}

header {
    width: fit-content;
    display: grid;
    gap: 1rem;
}

h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h1 span {
    color: var(--highlight-color);
}

hr {
    width: 80%;
    height: 2px;
    background-color: lightgray;
    border: 0;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav li {
    list-style: none;
    position: relative;
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
}

nav li::before {
    content: "-";
    color: var(--label-color);
    position: absolute;
    left: 0;
}

nav a {
    color: var(--label-color);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info {
    color: gray;
}

.cv-results {
    display: grid;
    gap: 3.5rem;
}

section {
    display: grid;
    gap: 2rem;
}

h2 {
    color: var(--highlight-color);
}

.area {
    display: grid;
    gap: 1rem;
    transition: 0.2s;
}

.area-header {
    color: var(--area-header);
    font-size: 1.2em;
    font-weight: bold;
}

.field {
    display: grid;
    gap: 0.5rem;
}

.label {
    font-weight: bold;
    font-size: 1em;
    color: var(--label-color);
}

#otimizacao .otimizacoes {
    display: grid;
    gap: 1rem;
}

#otimizacao .area {
    padding: 1.2rem;
    border-radius: 0 5px 5px 0;
    border-left: 0.2rem solid var(--border);
}

#otimizacao .area:hover {
    transform: translateX(0.2rem);
    border-color: var(--highlight-color);
}

#gaps .areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

#gaps .area-header {
    color: var(--gaps-color);
}

#gaps .area {
    gap: 0.7em;
    padding: 1.2rem;
    border-radius: 5px;
    border: 1px dashed var(--border);
}

#gaps .area:hover {
    transform: translateY(-0.2rem);
    border-color: var(--gaps-color);
}

#recomendacoes ul {
    display: grid;
    gap: 0.7rem;
}

#recomendacoes li {
    width: fit-content;
    list-style: decimal inside;
    border-left: 0.2rem solid var(--border);
    padding: 0.7rem;
    transition: 0.2s;
}

#recomendacoes li::marker {
    font-weight: bold;
    color: var(--highlight-color);
}

#recomendacoes li:hover {
    transform: translateX(0.2rem);
    border-color: var(--label-color);
}

/* mobile */
@media (max-width: 425px) {
    body {
        font-size: 11px;
    }
}

/* tablets and small devices */
@media (max-width: 768px) {
    #gaps .areas {
        grid-template-columns: 1fr;
    }

    #gaps .area {
        padding: 0.5;
    }
}
